<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Aiken Drum Academy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div class="row">
        <div class="col">
            <nav class="fixed-top nav justify-content-center main-nav">
                {% for item in object_list %}
                    <a class="nav-link" href="#">{{ item.topic_title }}</a>
                    {% if forloop.counter == forloop.revcounter0 or forloop.counter == forloop.revcounter %}
                        <a class="nav-link" href="/">Logo Goes Here</a>
                    {% endif %}
                {% endfor %}
            </nav>
        </div>
    </div>
    <div class="row index-hero-row">
        <div class="col">
            <div class="jumbotron jumbotron-fluid index-hero">
                <div class="container">
                    <h1 class="display-4">Fluid jumbotron</h1>
                    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                </div>
            </div>
        </div>
    </div>
{% for item in object_list %}
    <div class="row">
        <div class="col">
            <div class="card">
                <h2 class="card-header">
                    {{ item.topic_title }}
                </h2>
                <div class="card-body">
                    <p class="card-text">
                        {{ item.topic_text }}
                    </p>
                </div>
            </div>
        </div>
    </div>
{%  endfor %}

<div class="row footer">
    <div class="col">
        <footer >
            <p>{% lorem %}</p>
        </footer>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>